
$checkout-payment-label-span-font-size: 14px;
$checkout-payment-label-span-color: $gray;
$checkout-payment-border-right: 1px solid $input-border;
$checkout-payment-label-span-h1-border-bottom: 1px solid $input-border;
$checkout-payment-label-span-h1-font-size: 37px;
$checkout-payment-label-span-h1-letter-spacing: -1.3px;
$checkout-payment-label-span-p-label-text-transform: none;
$checkout-payment-label-span-p-label-span-font-size: 1.1em;
$checkout-payment-card-info-label-font-size: 1.25em;
$checkout-payment-card-info-label-filled-font-size: .75em;
$checkout-payment-card-number-discover-background-image: url("../../images/colors/fp/discover.png");
$checkout-payment-card-number-visa-background-image: url("../../images/colors/fp/visa.png");
$checkout-payment-card-number-amex-background-image: url("../../images/colors/fp/amex.png");
$checkout-payment-card-number-mastercard-background-image: url("../../images/colors/fp/mastercard.png");
$checkout-payment-apply-button-text-transform: uppercase;
$checkout-payment-apply-button-font-style: italic;
$checkout-payment-apply-button-font-weight: bold;
$checkout-payment-apply-button-color: $brand-light-blue;
$checkout-payment-apply-button-font-family: $font-family-sans-serif;
$checkout-payment-apply-button-link-font-size: 13px;
$checkout-payment-apply-button-link-line-height: 16px;
$checkout-payment-apply-button-i-color: $brand-blue;
