$top-content-height: 310px;
$checkbox-bgcolor: rgb(255,255,255);
$order-confirmation-top-content-confirmation-box-background: brand-image("confirmation_baby.png") $brand-orange 0 -25px no-repeat;
$order-confirmation-top-content-confirmation-box-background-size: 170px;
$order-confirmation-top-content-confirmation-box-h1-color: $gray-dark;
$order-confirmation-top-content-confirmation-box-hr-background: $gray-dark;
$order-confirmation-top-content-confirmation-box-p-color: $gray-dark;
$order-confirmation-top-content-confirmation-box-p-strong-font-family: $font-family-serif;
$order-confirmation-top-content-confirmation-box-p-strong-font-size: 1.5em;
$order-confirmation-top-content-confirmation-box-acol-h1-font-size: 1.5rem;
$order-confirmation-top-content-confirmation-box-acol-p-strong-font-size: 1.25rem;	
$order-confirmation-top-content-confirmation-box-small-x-h1-font-size: 1rem;
$order-confirmation-top-content-confirmation-box-small-x-p-font-size: 0.75rem;
$order-confirmation-top-content-confirmation-box-small-x-p-line-height: 1;
$order-confirmation-top-content-confirmation-box-small-x-p-strong-font-size: 0.875rem;	
$order-confirmation-top-content-create-account-confirmation-box-background: $gray-lightest;
$order-confirmation-top-content-create-account-confirmation-box-border-bottom: 1px solid $gray-lightest;
$order-confirmation-top-content-create-account-confirmation-box-p-small-font-size: 0.85em;
$order-confirmation-top-content-create-account-confirmation-box-label-span-font-size: 0.6em;
$order-confirmation-top-content-create-account-confirmation-box-label-span-font-weight: normal;
$order-confirmation-top-content-create-account-confirmation-box-label-span-before-background: $checkbox-bgcolor;
$order-confirmation-top-content-create-account-confirmation-box-button-primary-span-font-weight: normal;
$order-confirmation-top-content-create-account-confirmation-box-button-primary-span-font-size: 0.75em;
$order-confirmation-top-content-create-account-confirmation-box-desktop-newsletter-font-size: 0.875rem;
$order-confirmation-top-content-create-account-confirmation-box-desktop-newsletter-font-weight: normal;
$order-confirmation-top-content-create-account-confirmation-box-desktop-newsletter-before-font-size: 2rem;
$order-confirmation-top-content-create-account-confirmation-box-small-x-newsletter-line-height: 20px;
$order-confirmation-box-color: $gray;
$order-confirmation-box-font-family: $font-family-sans-serif;
$order-confirmation-box-font-size: $font-size-small;
$order-confirmation-box-line-height: 1;
$order-confirmation-box-border-right: 1px solid $input-border;
$order-confirmation-box-desktop-border-bottom: 1px solid $input-border;
$order-confirmation-box-acol-h3-line-height: 1;
$order-confirmation-box-contentline-strong-color: $brand-red;
$order-confirmation-box-body-title-font-family: $font-family-sans-serif;
$order-confirmation-box-body-title-text-transform: uppercase;
$order-confirmation-box-body-title-color: $gray-dark;
$order-confirmation-box-body-billing-font-size: 1.175em;
$order-confirmation-box-body-shipping-font-size: 1em;
$order-confirmation-box-payment-border-bottom: 1px solid $input-border;
$order-confirmation-box-payment-title-font-family: $font-family-sans-serif;
$order-confirmation-box-payment-title-text-transform: uppercase;
$order-confirmation-box-payment-title-color: $gray-dark;
$order-confirmation-box-table-order-details-img-border: 1px solid $pager-border; 
$order-confirmation-box-table-order-details-attributes-container-border-top: 1px solid $input-border;
$order-confirmation-box-table-order-details-left-font-weight: normal;
$order-confirmation-box-table-order-details-left-h4-font-family: $font-family-sans-serif;
$order-confirmation-box-table-order-details-left-h4-font-size: $font-size-small;
$order-confirmation-box-table-order-details-left-h4-line-height: 1;
$order-confirmation-box-table-order-details-left-h4-font-weight: $font-weight-700;		    			
$order-confirmation-box-table-order-details-left-h4-color:	$gray-light;	    				
$order-confirmation-box-table-order-details-left-product-name-font-family: $font-family-sans-serif;
$order-confirmation-box-table-order-details-left-product-name-font-size: $font-size-large;
$order-confirmation-box-table-order-details-left-product-name-line-height: 1;
$order-confirmation-box-table-order-details-left-product-name-font-weight: $font-weight-700;									
$order-confirmation-box-table-order-details-left-product-name-color:	$gray-darker;	    				
$order-confirmation-box-table-order-details-left-product-details-price-font-family: $font-family-sans-serif;
$order-confirmation-box-table-order-details-left-product-details-price-font-size: $font-size-base;
$order-confirmation-box-table-order-details-left-product-details-price-line-height: 1;
$order-confirmation-box-table-order-details-left-product-details-price-color: $gray-light;

$order-confirmation-productDetails-customize-product-attributes-p-font-color: $gray-light;

$order-confirmation-box-table-order-details-left-product-details-avail-font-family: $font-family-sans-serif;
$order-confirmation-box-table-order-details-left-product-details-avail-font-size: $font-size-small;
$order-confirmation-box-table-order-details-left-product-details-avail-line-height: 1;
$order-confirmation-box-table-order-details-left-product-details-avail-font-weight: $font-weight-600;	
$order-confirmation-box-table-order-details-left-product-details-avail-p-color: $gray-light;
$order-confirmation-box-table-order-details-left-product-details-avail-p-font-family: $font-family-sans-serif;
$order-confirmation-box-table-order-details-left-product-details-avail-p-font-size: $font-size-small;
$order-confirmation-box-table-order-details-left-product-details-avail-p-line-height: 1;
$order-confirmation-box-table-order-details-left-product-details-avail-p-font-weight: $font-weight-900;	
$order-confirmation-box-table-order-details-left-product-details-avail-warehouse-dispatch-details-font-family: $font-family-sans-serif;
$order-confirmation-box-table-order-details-left-product-details-avail-warehouse-dispatch-details-font-size: $font-size-small;
$order-confirmation-box-table-order-details-left-product-details-avail-warehouse-dispatch-details-line-height: 1;
$order-confirmation-box-table-order-details-left-product-details-avail-warehouse-dispatch-details-font-weight: $font-weight-500;										
$order-confirmation-box-table-order-details-left-product-details-qty-p-color: $gray-light;
$order-confirmation-box-table-order-details-left-product-details-qty-p-font-family: $font-family-sans-serif;
$order-confirmation-box-table-order-details-left-product-details-qty-p-font-size: $font-size-small;
$order-confirmation-box-table-order-details-left-product-details-qty-p-line-height: 1;
$order-confirmation-box-table-order-details-left-product-details-qty-p-font-weight: $font-weight-500;	
$order-confirmation-box-table-order-details-left-product-details-qty-p-input-color: $gray-light;										
$order-confirmation-box-table-order-details-left-product-details-qty-p-input-border: solid 1px $pager-border;
$order-confirmation-box-table-order-details-left-product-details-qty-p-input-font-weight: $font-weight-500;
$order-confirmation-box-table-order-details-left-product-details-attributes-link-line-height: 0;
$order-confirmation-box-table-order-details-left-product-details-attributes-link-hover-color: $brand-blue;
$order-confirmation-box-table-order-details-left-product-details-attributes-link-hover-font-size: 0.9rem;
$order-confirmation-box-table-order-details-left-product-details-total-price-font-family: $font-family-sans-serif;
$order-confirmation-box-table-order-details-left-product-details-total-price-font-size: $font-size-large;
$order-confirmation-box-table-order-details-left-product-details-total-price-line-height: 1;
$order-confirmation-box-table-order-details-left-product-details-total-price-font-weight: $font-weight-600;
$order-confirmation-box-table-order-details-left-product-details-delete-and-save-link-color: $brand-blue;
$order-confirmation-box-table-order-details-left-product-details-delete-and-save-link-font-size: 0.9rem;		    									
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-purchase-section-shopper-actions-line-height: 4; 
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-purchase-section-shopper-actions-link-font-size: 0.9rem;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-border-border-right: solid 1px $pager-border;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-heading-font-family: $font-family-sans-serif;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-heading-font-size: $font-size-small;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-heading-line-height: 1;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-heading-font-weight: $font-weight-600;			 
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-list-line-height: 35px;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-list-img-border-radius: 100%;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-list-img-box-shadow: 0 0 0 1px transparent;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-list-img-selected-box-shadow: 0 0 0 1px $gray-dark;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-swatches-list-img-hover-box-shadow: 0 0 0 2px $brand-blue;
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-acol-purchase-section-shopper-actions-line-height: 4; 
$order-confirmation-box-table-order-details-left-inline-shop-cart-edit-acol-swatches-border-left: solid 1px $pager-border;
$order-confirmation-my-order-total-line-height: 38px;
$order-confirmation-my-order-total-details-font-size: 0.85em;
$order-confirmation-my-order-total-figures-font-size: 1em;

$order-confirmation-productDetails-table-orderDetails-itemSpecs-a-font-color: $gray-darker;
$order-confirmation-productDetails-table-orderDetails-itemSpecs-a-font-weight: $font-weight-600;
$order-confirmation-productDetails-table-orderDetails-total-discount-font-color: $gray-darker;
$order-confirmation-productDetails-table-orderDetails-total-discount-font-weight: $font-weight-600;
$order-confirmation-productDetails-table-orderDetails-multiBrand-itemSpecs-a-font-color: $brand-red;
$order-confirmation-th-align-left-normal-rotate-translate: rotate(-90deg) translate(-50%, 0);
$order-confirmation-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-font-color: $gray-light;
$order-confirmation-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-desktop-font-size: 0.7rem;
$order-confirmation-productDetails-left-wrapper-help-toolTip-font-weight: $font-weight-600;
$order-confirmation-productDetails-left-wrapper-help-toolTip-border: 1px solid $pager-border;
$order-confirmation-productDetails-left-wrapper-help-toolTip-font-size: 0.825rem;
$order-confirmation-productDetails-left-wrapper-help-toolTip-font-color: $brand-blue;
$order-confirmation-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-font-size: 0.85rem;
$order-confirmation-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-font-weight: $font-weight-600;