/* Gift Page Varibales */

$gift-options-page-font-color: $gray;
$gift-options-page-add-gift-receipt-text-font-size: 0.8rem; 
$gift-options-page-gift-box-font-size: 0.8rem;
$gift-options-page-font-family: $font-family-sans-serif;
$gift-options-page-border-color: $pager-border; 
$gift-options-page-border: 1px solid $gift-options-page-border-color;
$gift-options-page-orderDetails-border-color: $default-border-color;
$gift-options-page-orderDetails-border: solid 1px $gift-options-page-orderDetails-border-color; 

$gift-options-page-font-weight: $font-weight-500;

$gift-options-page-product-name-font-size-desktop: 1.5rem;
$gift-options-page-product-name-font-size-tabletsAndBelow: 1rem; 
$gift-options-page-product-name-font-weight: $font-weight-700;
$gift-options-page-product-name-color: $gray-darker;
$gift-options-page-product-image-border-color: $thumbnail-border;
$gift-options-page-product-image-border: 1px solid $gift-options-page-product-image-border-color;
$gift-options-page-product-image-padding: $thumbnail-padding;
$gift-options-page-product-quantity-color: $gray-dark;
$gift-options-page-product-quantity-value-font-weight: $font-weight-700;
$gift-options-page-product-quantity-font-size: 0.9rem;

$gift-options-page-different-gifting-options-selected-icon-color: $brand-blue;
$gift-options-page-different-gifting-options-selected-img-border-color: $brand-blue;
$gift-options-page-different-gifting-options-selected-img-border: 5px solid $gift-options-page-different-gifting-options-selected-img-border-color;
$gift-options-page-include-free-gift-message-font-size: 0.8rem;
$gift-options-page-checkbox-wrapper-font-size: 0.8rem; 
$gift-options-page-gift-wrapper-messages-bg-color: $gray-lightest;
$gift-options-page-gift-wrapper-message-input-font-size: 1rem;

$gift-options-page-gift-wrapper-price-font-size: 0.9rem;
$gift-options-page-giftForm-fields-border-color: $input-border;
$gift-options-page-giftForm-fields-color: $gray-darker;
$gift-options-page-giftForm-fields-border: solid 2px $gift-options-page-giftForm-fields-border-color;
$gift-options-page-make-it-gift-item-gift-icon-bg-color: $brand-orange;
$gift-options-page-selected-giftWrap-fontIcon-size-desktop: 2rem;
$gift-options-page-selected-giftWrap-fontIcon-size-tabletsAndBelow: 1.5rem;
$gift-options-page-giftIt-font-icon-size: 1rem;