$checkout-logon-h1-line-height: 2em;
$checkout-logon-h1-color: $brand-red;
$checkout-logon-h2-font-size: $font-size-h1;
$checkout-logon-h2-color: $brand-blue;
$checkout-logon-border-right: 1px solid $input-border;
