$order-review-color: $gray;
$order-review-font-family: $font-family-sans-serif;
$order-review-font-size: $font-size-small;
$order-review-line-height: 1;
$order-review-border-right: 1px solid $input-border;
$order-review-contentline-strong-color: $brand-red;
$order-review-shipment-summary-border-top: 1px solid #b1b1b1;
$order-review-h5-title-font-family: $font-family-sans-serif;
$order-review-h5-title-text-transform: uppercase;
$order-review-h5-title-color: $gray-dark;

$order-review-productDetails-customize-product-attributes-p-font-color: $gray-light; 

$order-review-productDetails-table-orderDetails-itemSpecs-a-font-color: $gray-darker;
$order-review-productDetails-table-orderDetails-itemSpecs-a-font-weight: $font-weight-600;
$order-review-productDetails-table-orderDetails-total-discount-font-color: $gray-darker;
$order-review-productDetails-table-orderDetails-total-discount-font-weight: $font-weight-600;
$order-review-productDetails-table-orderDetails-multiBrand-itemSpecs-a-font-color: $brand-red;
$order-review-th-align-left-normal-rotate-translate: rotate(-90deg) translate(-50%, 0);
$order-review-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-font-color: $gray-light;
$order-review-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-desktop-font-size: 0.7rem;
$order-review-productDetails-left-wrapper-help-toolTip-font-weight: $font-weight-600;
$order-review-productDetails-left-wrapper-help-toolTip-border: 1px solid $pager-border;
$order-review-productDetails-left-wrapper-help-toolTip-font-size: 0.825rem;
$order-review-productDetails-left-wrapper-help-toolTip-font-color: $brand-blue;
$order-review-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-font-size: 0.85rem;
$order-review-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-font-weight: $font-weight-600;

$order-review-desktop-card-details-line-height: 40px;
$order-review-small-xs-card-details-line-height: 3;
$order-review-billing-summary-border-bottom: 1px solid $input-border;
$order-review-billing-summary-font-size: 1.175em;
$order-review-shipping-font-size: 1em;
$order-review-shipping-border-bottom: 1px solid $input-border;
$order-review-order-details-img-border: 1px solid $pager-border;
$order-review-order-details-attributes-border-top: 1px solid $input-border;
$order-review-order-details-left-border-bottom: 1px solid $pager-border;
$order-review-order-details-left-font-weight: normal;
$order-review-order-details-h4-font-family: $font-family-sans-serif;
$order-review-order-details-h4-font-size: $font-size-small;
$order-review-order-details-h4-line-height: 1;
$order-review-order-details-h4-font-weight: $font-weight-700;		    			
$order-review-order-details-h4-color:	$gray-light;	    				
$order-review-order-details-product-name-font-family: $font-family-sans-serif;
$order-review-order-details-product-name-font-size: $font-size-large;
$order-review-order-details-product-name-line-height: 1;
$order-review-order-details-product-name-font-weight: $font-weight-700;									
$order-review-order-details-product-name-color:	$gray-darker;	    				
$order-review-order-details-product-details-price-font-family: $font-family-sans-serif;
$order-review-order-details-product-details-price-font-size: $font-size-base;
$order-review-order-details-product-details-price-line-height: 1;
$order-review-order-details-product-details-price-color: $gray-light;

$order-review-order-details-product-details-price-avail-font-family: $font-family-sans-serif;
$order-review-order-details-product-details-price-avail-font-size: $font-size-small;
$order-review-order-details-product-details-price-avail-line-height: 1;
$order-review-order-details-product-details-price-avail-font-weight: $font-weight-600;	
$order-review-order-details-product-details-price-avail-p-color: $gray-light;
$order-review-order-details-product-details-price-avail-p-font-family: $font-family-sans-serif;
$order-review-order-details-product-details-price-avail-p-font-size: $font-size-small;
$order-review-order-details-product-details-price-avail-p-line-height: 1;
$order-review-order-details-product-details-price-avail-p-font-weight: $font-weight-900;	
$order-review-order-details-product-details-price-avail-warehouse-dispatch-details-font-family: $font-family-sans-serif;
$order-review-order-details-product-details-price-avail-warehouse-dispatch-details-font-size: $font-size-small;
$order-review-order-details-product-details-price-avail-warehouse-dispatch-details-line-height: 1;
$order-review-order-details-product-details-price-avail-warehouse-dispatch-details-font-weight: $font-weight-500;
										
$order-review-order-details-product-details-qty-p-color: $gray-light;
$order-review-order-details-product-details-qty-p-font-family: $font-family-sans-serif;
$order-review-order-details-product-details-qty-p-font-size: $font-size-small;
$order-review-order-details-product-details-qty-p-line-height: 1;
$order-review-order-details-product-details-qty-p-font-weight: $font-weight-500;	
$order-review-order-details-product-details-qty-input-color: $gray-light;										
$order-review-order-details-product-details-qty-input-border: solid 1px $pager-border;
$order-review-order-details-product-details-qty-input-font-weight: $font-weight-500;	

$order-review-order-details-product-details-edit-attributes-link-line-height: 0;
$order-review-order-details-product-details-edit-attributes-link-hover-color: $brand-blue;	    										
$order-review-order-details-product-details-edit-attributes-link-hover-font-size: 0.9rem;		    								
$order-review-order-details-product-details-total-price-font-family: $font-family-sans-serif;
$order-review-order-details-product-details-total-price-font-size: $font-size-large;
$order-review-order-details-product-details-total-price-line-height: 1;
$order-review-order-details-product-details-total-price-font-weight: $font-weight-600;

$order-review-order-details-product-details-delete-and-save-link-color: $brand-blue;
$order-review-order-details-product-details-delete-and-save-link-font-size: 0.9rem;		    									
$order-review-order-details-inline-edit-shopper-actions-line-height: 4; 
$order-review-order-details-inline-edit-link-font-size: 0.9rem;

$order-review-order-details-inline-edit-swatch-border-right: solid 1px $pager-border;
$order-review-order-details-inline-edit-heading-font-family: $font-family-sans-serif;
$order-review-order-details-inline-edit-heading-font-size: $font-size-small;
$order-review-order-details-inline-edit-heading-line-height: 1;
$order-review-order-details-inline-edit-heading-font-weight: $font-weight-600;			 


$order-review-order-details-inline-edit-swatch-list-line-height: 35px;
$order-review-order-details-inline-edit-swatch-list-li-link-img-border-radius: 100%;
$order-review-order-details-inline-edit-swatch-list-li-link-img-box-shadow: 0 0 0 1px;
$order-review-order-details-inline-edit-swatch-list-li-link-img-padding: 3px;
$order-review-order-details-inline-edit-swatch-list-li-link-img-swatch-selected-box-shadow: 0 0 0 1px $gray-dark;					    
$order-review-order-details-inline-edit-swatch-list-li-link-img-swatch-hover-box-shadow: 0 0 0 2px $brand-blue;												    	

								
$order-review-order-details-inline-edit-acol-purchase-section-shopper-actions-line-height: 4; 
$order-review-order-details-inline-edit-acol-swatches-group-swatch-border-left: solid 1px $pager-border;
