$shipping-page-h1-border-bottom: 1px solid $input-border;
$shipping-page-checkout-header-color: $brand-tertiary;
$shipping-page-options-border-top: 1px solid $gray-lighter;  
$shipping-page-boxes-border: 2px solid $gray-lighter;
$shipping-page-boxes-label-background: #ffd200;
$shipping-page-boxes-label-color: #373737;
$shipping-page-boxes-label-font-family: $font-family-serif;
$shipping-page-boxes-label-font-weight: $font-weight-800;
$shipping-page-boxes-label-font-size: 1.2rem;
$shipping-page-boxes-label-hr-background: #fff;
$shipping-page-boxes-price-color: $brand-blue;
$shipping-page-boxes-price-font-family:  $font-family-serif;
$shipping-page-boxes-price-font-weight: $font-weight-800;
$shipping-page-boxes-price-font-size: 1.25rem;
$shipping-page-boxes-link-color: $brand-blue;
$shipping-page-boxes-link-font-size: 0.75rem;
$shipping-page-boxes-link-hover-text-decoration: underline;
$shipping-page-form-font-size: $font-size-base;
$shipping-page-form-font-size: 1em;
$shipping-page-form-h2-color: $headings-color;
$shipping-page-form-h2-font-size: $font-size-h2;
