$shoppingCartPage-max-width: 1600px;
$shoppingCartPage-border:  solid 1px $pager-border;
$shoppingCartPage-offersAndMyorders-espot-width: 100%;

$shoppingCartPage-box-font-color: $gray;
$shoppingCartPage-box-font-family: $font-family-sans-serif;
$shoppingCartPage-box-font-size: $font-size-small;
$shoppingCartPage-box-font-weight: $font-weight-700;

$shoppingCartPage-th-align-left-normal-font-weight: normal;
$shoppingCartPage-th-align-left-normal-h4-font-family: $font-family-sans-serif;
$shoppingCartPage-th-align-left-normal-h4-font-size: $font-size-small;
$shoppingCartPage-th-align-left-normal-h4-font-weight: $font-weight-700;
$shoppingCartPage-th-align-left-normal-h4-color: $gray-light;
$shoppingCartPage-th-align-left-normal-h4-line-height: 1;
$shoppingCartPage-th-align-left-normal-rotate-translate: rotate(-90deg) translate(-50%, 0);

$shoppingCartPage-th-align-left-normal-cart-product-name-font-family: $font-family-sans-serif;
$shoppingCartPage-th-align-left-normal-cart-product-name-font-size: $font-size-large;
$shoppingCartPage-th-align-left-normal-cart-product-name-font-weight: $font-weight-700;
$shoppingCartPage-th-align-left-normal-cart-product-name-font-color: $gray-darker;
$shoppingCartPage-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-font-size: 0.85rem;
$shoppingCartPage-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-desktop-font-size: 0.7rem;
$shoppingCartPage-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-font-weight: $font-weight-600;
$shoppingCartPage-th-align-left-normal-multiple-store-Logo-wrapper-addedFrom-font-color: $gray-light;

$shoppingCartPage-gift-Icon-background: $brand-orange;
$shoppingCartPage-gift-Icon-font-size: 1.2rem;

$shoppingCartPage-productDetails-customize-product-attributes-p-font-color: $gray-light; 

$shoppingCartPage-productDetails-left-wrapper-price-font-family: $font-family-sans-serif;
$shoppingCartPage-productDetails-left-wrapper-price-font-size: $font-size-base;
$shoppingCartPage-productDetails-left-wrapper-price-font-color: $gray-light;
$shoppingCartPage-productDetails-left-wrapper-availability-font-family: $font-family-sans-serif;
$shoppingCartPage-productDetails-left-wrapper-availability-font-size: $font-size-small;
$shoppingCartPage-productDetails-left-wrapper-availability-font-weight: $font-weight-600;
$shoppingCartPage-productDetails-left-wrapper-availability-pTag-font-weight: $font-weight-900;
$shoppingCartPage-productDetails-left-wrapper-availability-pTag-font-size: $font-size-small;
$shoppingCartPage-productDetails-left-wrapper-availability-pTag-font-family: $font-family-sans-serif;
$shoppingCartPage-productDetails-left-wrapper-availability-pTag-font-color: $gray-light;
$shoppingCartPage-productDetails-left-wrapper-availability-warehouse-dispatch-details-font-family: $font-family-sans-serif;
$shoppingCartPage-productDetails-left-wrapper-availability-warehouse-dispatch-details-font-size: $font-size-small; 
$shoppingCartPage-productDetails-left-wrapper-availability-warehouse-dispatch-details-font-weight: $font-weight-500;
$shoppingCartPage-productDetails-left-wrapper-QTY-pTag-font-weight: $font-weight-500;
$shoppingCartPage-productDetails-left-wrapper-QTY-pTag-font-size: $font-size-small;
$shoppingCartPage-productDetails-left-wrapper-QTY-pTag-font-family: $font-family-sans-serif;
$shoppingCartPage-productDetails-left-wrapper-QTY-pTag-font-color: $gray-light;
$shoppingCartPage-productDetails-left-wrapper-QTY-input-font-color: $gray-light;
$shoppingCartPage-productDetails-left-wrapper-QTY-input-font-weight: $font-weight-500;
$shoppingCartPage-productDetails-left-wrapper-QTY-input-border: solid 1px $pager-border;

$shoppingCartPage-productDetails-left-wrapper-help-toolTip-font-color: $brand-blue;
$shoppingCartPage-productDetails-left-wrapper-help-toolTip-font-weight: $font-weight-600;
$shoppingCartPage-productDetails-left-wrapper-help-toolTip-font-size: 0.825rem;
$shoppingCartPage-productDetails-left-wrapper-help-toolTip-border: 1px solid $pager-border;

$shoppingCartPage-productDetails-right-wrapper-totalPrice-font-family: $font-family-sans-serif;
$shoppingCartPage-productDetails-right-wrapper-totalPrice-font-size: $font-size-large;
$shoppingCartPage-productDetails-right-wrapper-totalPrice-font-weight: $font-weight-600;
$shoppingCartPage-productDetails-right-wrapper-deleteAndSaveforLater-font-size: 0.9rem;
$shoppingCartPage-productDetails-right-wrapper-deleteAndSaveforLater-font-color: $brand-blue;
$shoppingCartPage-productDetails-right-wrapper-special-wrapper-edit-attributes-hoverUnderline-font-size: 0.9rem;
$shoppingCartPage-productDetails-right-wrapper-special-wrapper-edit-attributes-hoverUnderline-font-color: $brand-blue;
$shoppingCartPage-productDetails-table-orderDetails-itemSpecs-a-font-color: $gray-darker;
$shoppingCartPage-productDetails-table-orderDetails-multiBrand-itemSpecs-a-font-color: $brand-red;
$shoppingCartPage-productDetails-table-orderDetails-itemSpecs-a-font-weight: $font-weight-600;
$shoppingCartPage-productDetails-table-orderDetails-total-discount-font-color: $gray-darker;
$shoppingCartPage-productDetails-table-orderDetails-total-discount-font-weight: $font-weight-600;

$shoppingCartPage-swatches-shopperActions-aTag-font-size: 0.9rem;
$shoppingCartPage-swatches-shopperActions-aTag-font-size-chevron-right-color: $brand-blue;
$shoppingCartPage-swatches-group-heading-font-family: $font-family-sans-serif;
$shoppingCartPage-swatches-group-heading-font-size: $font-size-small;
$shoppingCartPage-swatches-group-heading-font-weight: $font-weight-600;

$shoppingCartPage-save-for-later-previewImage-border: 1px solid $pager-border;
$shoppingCartPage-save-for-later-name-cell-field-font-family: $font-family-sans-serif;
$shoppingCartPage-save-for-later-name-cell-field-font-size: $font-size-large;
$shoppingCartPage-save-for-later-name-cell-field-font-weight: $font-weight-700;
$shoppingCartPage-save-for-later-name-cell-field-font-color: $gray-darker;
$shoppingCartPage-save-for-later-quantity-cell-font-family: $font-family-sans-serif;
$shoppingCartPage-save-for-later-quantity-cell-font-size: $font-size-small;
$shoppingCartPage-save-for-later-quantity-cell-font-weight: $font-weight-500;
$shoppingCartPage-save-for-later-quantity-cell-input-font-weight: $font-weight-500;
$shoppingCartPage-save-for-later-quantity-cell-input-font-color:  $gray-light;
$shoppingCartPage-save-for-later-quantity-cell-input-font-size:  $font-size-small;
$shoppingCartPage-save-for-later-quantity-cell-input-border: solid 1px $pager-border;
$shoppingCartPage-save-for-later-eachCost-cell-font-family: $font-family-sans-serif;
$shoppingCartPage-save-for-later-eachCost-cell-font-size: $font-size-base;
$shoppingCartPage-save-for-later-eachCost-cell-font-color: $gray-light;
$shoppingCartPage-save-for-later-totalCost-cell-font-family: $font-family-sans-serif;
$shoppingCartPage-save-for-later-totalCost-cell-font-size: $font-size-large;
$shoppingCartPage-save-for-later-totalCost-cell-font-weight: $font-weight-600;
$shoppingCartPage-save-for-later-actions-actionItem-color: $brand-blue;
$shoppingCartPage-save-for-later-actions-actionItem-bg: transparent;
$shoppingCartPage-save-for-later-actions-actionTitle-font-family: $font-family-sans-serif;
$shoppingCartPage-save-for-later-actions-actionTitle-font-size: $font-size-small;
$shoppingCartPage-save-for-later-actions-actionTitle-font-weight: $font-weight-normal;
$shoppingCartPage-save-for-later-actions-actionTitle-font-color: $brand-blue;
