$badge-text-color:        $light01 !default;
$badge-link-hover-color:  $light01 !default;
$badge-bg-color:          $light03 !default;
$badge-active-text-color: $blue01 !default;
$badge-active-bg-color:   $light01 !default;

$badge-font-weight:   $medium-font-weight !default;
$badge-line-height:   1 !default;
$badge-border-radius: 10px !default;
