$address-validation-dialog-address-background: #eee;
$address-validation-dialog-address-border-radius: 10px;
$address-validation-dialog-address-font-size: $font-size-small;	
$address-validation-dialog-address-font-family: $font-family-serif; 	
$address-validation-dialog-address-li-font-size: $font-size-small;	
$address-validation-dialog-address-highlight-text-color: $brand-red;
$address-validation-dialog-address-you-entered-background: $default-white;
$address-validation-dialog-address-usps-recommends-background: $default-white;

