$dialog-bg: $default-white;
$dialog-box-shadow-color: #ccc;
$dialog-header-close-button-bg: #e23011;
$dialog-header-close-button-color: white;  
$dialog-header-close-button-font-size: 1.375rem;
$dialog-header-close-button-line-height: 35px;
