$minishopcartproductadded-dialog-box-shadow: 0px 0px 300px 150px rgba(0,0,0,0.15);
$minishopcartproductadded-dialog-background: white;
	    
$minishopcartproductadded-dialog-close-button-background: white;
$minishopcartproductadded-dialog-close-button-border-radius: 100%;
$minishopcartproductadded-dialog-close-button-font-size: 1.4em;
$minishopcartproductadded-dialog-close-button-font-weight: 100;
$minishopcartproductadded-dialog-close-button-color: $gray;

$minishopcartproductadded-dialog-h3-height: 2em;
$minishopcartproductadded-dialog-h3-line-height: 1.4em;
$minishopcartproductadded-dialog-h3-font-weight: bold;
$minishopcartproductadded-dialog-h3-font-size: 1.5em;
$minishopcartproductadded-dialog-h3-color: $gray;
$minishopcartproductadded-dialog-h3-border-bottom-color: $default-border-color;

$minishopcartproductadded-dialog-product-name-font-size: 1.5em;
$minishopcartproductadded-dialog-my-order-border-color: $input-border;
$minishopcartproductadded-dialog-my-order-header-height: 2.5em;
$minishopcartproductadded-dialog-my-order-header-color: inherit;
$minishopcartproductadded-dialog-my-order-header-background-color: $brand-orange;
$minishopcartproductadded-dialog-my-order-header-line-height: 2.5em;
$minishopcartproductadded-dialog-my-order-header-font-weight: bold;
$minishopcartproductadded-dialog-my-order-header-font-size: 1.5em;
			
$minishopcartproductadded-dialog-my-order-accordion-panel-background-color: transparent;
$minishopcartproductadded-dialog-my-order-accordion-panel-border-radius: 0;
			
$minishopcartproductadded-dialog-my-order-h2-height: 2.5em;
$minishopcartproductadded-dialog-my-order-h2-background-color: $brand-orange;
$minishopcartproductadded-dialog-my-order-h2-line-height: 2.5em;
$minishopcartproductadded-dialog-my-order-h2-font-weight: bold;
$minishopcartproductadded-dialog-my-order-h2-font-size: 1.5em;
			
$minishopcartproductadded-dialog-my-order-accordion-toggle-color: $gray-lighter;
$minishopcartproductadded-dialog-my-order-total-font-weight: bold;
$minishopcartproductadded-dialog-my-order-total-color: $gray-dark;
$minishopcartproductadded-dialog-my-order-total-font-size: 14px;
$minishopcartproductadded-dialog-my-order-total-line-height: 24px;
$minishopcartproductadded-dialog-my-order-total-current-color: $brand-red;
			
$minishopcartproductadded-dialog-my-order-total-accordion-toggle-link-font-weight: bold;
$minishopcartproductadded-dialog-my-order-total-accordion-toggle-link-color: $gray; 
$minishopcartproductadded-dialog-my-order-total-accordion-toggle-link-hover-color: $gray;

$minishopcartproductadded-dialog-my-order-widget-coordinate-background: $gray-lightest;
