//
// Fisher Price Variables
// --------------------------------------------------

$bootstrap-sass-asset-helper: false !default;
$brand-id:				"fp" !default;
$brand-image-path:		"../../images/colors/fp" !default;
$brand-sprite:			"#{$brand-image-path}/FP-Sprites.png" !default;

@import "../_core/functions";
@import "../_core/mixins";
@import "../_core/keyframes";
@import "variables";
@import "../_core/_bootstrap";
