$myAccountNavigationWidget-border-right: 1px solid $input-border;
$myAccountNavigationWidget-heading-font-size: $font-size-h4;
$myAccountNavigationWidget-heading-color: $gray-light;
$myAccountNavigationWidget-heading-fontFamily: $headings-font-family;
$myAccountNavigationWidget-border-bottom: 1px solid $input-border;
$myAccountNavigationWidget-subHeading-color: $gray;
$myAccountNavigationWidget-subMenu-links: $brand-light-blue;
$myAccountNavigationWidget-subMenu-link-selected-font-weight: bold;
$myAccountNavigationWidget-subMenu-link-selected-color: $gray-dark;
$myAccountNavigationWidget-subHeading-fontStyle: italic;
$myAccountNavigationWidget-subHeading-active-font-weight: $font-weight-600;
$myAccountNavigationWidget-subHeading-hover-font-color: $gray;
$myAccountNavigationWidget-subHeading-active-font-color:  $gray;
$myAccountNavigationWidget-facetSelect-li-font-size: 1rem;
$myAccountNavigationWidget-mobile-navbar-bg: $brand-blue;
$myAccountNavigationWidget-mobile-navbar-color: $default-white;