$name-part-price-widget-color: inherit;

$name-part-price-widget-awards-link-font-family: $font-family-sans-serif;
$name-part-price-widget-awards-link-font-size: 13px;
$name-part-price-widget-awards-link-font-style: italic;

$name-part-price-widget-reviews-link-font-family: $font-family-sans-serif;
$name-part-price-widget-reviews-link-font-size: 13px;
$name-part-price-widget-reviews-star-color: $gray-lightest;
$name-part-price-widget-reviews-star-full-color: $brand-red;

$name-part-price-widget-price-font-family: $font-family-serif;
$name-part-price-widget-price-color: $brand-red;
$name-part-price-widget-price-font-size: 2.875em;
$name-part-price-widget-price-line-height: 0.9;
$name-part-price-widget-price-letter-spacing: -2.2px;
$name-part-price-widget-price-font-weight: 600;

$name-part-price-widget-old-price-font-family: $font-family-serif;
$name-part-price-widget-old-price-font-size: 1.125rem;
$name-part-price-widget-old-price-color: $gray-light;
$name-part-price-widget-old-price-line-height: 1.1; 
$name-part-price-widget-old-price-font-weight: 600;

$name-part-price-widget-h5-color: $gray-light;
$name-part-price-widget-h5-font-family: $font-family-sans-serif;
$name-part-price-widget-h5-font-size: 1.125rem;
$name-part-price-widget-h5-line-height: 1.5;

$name-part-price-widget-rating-font-size: 1.05em;
$name-part-price-widget-rating-letter-spacing: 2.1px;