$widget-discounts-font-family: $font-family-sans-serif;
$widget-discounts-font-size: .75em;
$widget-discounts-title-color: $brand-red;
$widget-discounts-title-font-weight: bold;
$widget-discounts-limit-font-weight: normal;
$widget-discounts-limit-color: $gray-light;
$widget-discounts-link-font-weight: normal;
