
$widget-product-image-viewer-color: #FFF;
$widget-product-image-viewer-background: transparent;

$widget-product-image-viewer-arrow-background-color: rgba(0,0,0,0.25);
$widget-product-image-viewer-arrow-box-shadow: rgba(190,190,190,0.5);
$widget-product-image-viewer-arrow-hover-background-color: rgba(0,0,0,0.75);
	
$widget-product-image-viewer-bullet-border-radius: 21px;
$widget-product-image-viewer-bullet-active-color: $brand-red;
$widget-product-image-viewer-bullet-inactive-color: $gray-lighter;

$widget-product-image-viewer-bullet-background-color: rgba(255, 255, 255, 0.83);
$widget-product-image-viewer-bullet-border-color: rgba(0, 0, 0, 0.24);

$widget-product-image-viewer-caption-background: rgba(0, 0, 0, 0.75);
$widget-product-image-viewer-caption-color: #FFF;
$widget-product-image-viewer-caption-font-size: 12px;
$widget-product-image-viewer-caption-border-radius: 2px;
