$inventory-widget-text-font-family: $font-family-sans-serif;

$inventory-widget-text-available-font-weight: 700;
$inventory-widget-text-available-font-size: 0.875em;

$inventory-widget-text-details-font-weight: 400;
$inventory-widget-text-details-font-size: 0.75rem;
