$definingAttributes-font-size: $font-size-small;
$definingAttributes-border-color: $pager-border;
$definingAttributes-color-swatch-label-font-family: $font-family-sans-serif;
$definingAttributes-color-swatch-label-font-size: $font-size-small;
$definingAttributes-color-swatch-label-line-height: 1;
$definingAttributes-color-swatch-label-font-weight: $font-weight-600;			 	
$definingAttributes-color-swatch-list-line-height: 37px;
$definingAttributes-color-swatch-selected-box-shadow-color: $gray-dark;					    
$definingAttributes-color-swatch-selected-box-shadow-hover-color: $brand-blue;												    	
