
$product-detail-color: #595959;
$product-detail-font-family: $font-family-serif;
$product-detail-font-weight: 700;
$product-detail-font-size: 1em;
$product-detail-line-height: 1.3;
$product-detail-border-bottom: solid 1px $pager-border !important;			
$product-detail-h1-font-size: 42px;
$product-detail-h1-line-height: 1.2;
$product-detail-h1-color: $gray-dark;
$product-detail-h4-font-family: $font-family-sans-serif;
$product-detail-h4-font-weight: 700;
$product-detail-h4-font-size: 1.5em;
$product-detail-h4-line-height: 1.3;
$product-detail-h4-color: $brand-tertiary;
$product-detail-link-color: $brand-tertiary;

$med-s-product-detail-h1-font-size: 2.65em;

$xlarge-x-product-detail-h1-font-size: 1.875em;
$xlarge-x-product-detail-h4-font-size: 1.125em;

