$catalog-entry-page-h1-border-bottom: 1px solid $input-border;
$catalog-entry-page-form-font-size: $font-size-base;
$catalog-entry-page-form-font-size: 1em;
$catalog-entry-page-form-h2-color: $headings-color;
$catalog-entry-page-form-h2-font-size: $font-size-h2;
