
$footer-wrapper-border-bottom: 10px solid #ef4123;

$footer-container-hr-background: #e3e3e3;

$footer-terms-font-size: 0.75em;
$footer-terms-link-color: #333;

$footer-tile-title-border-top: 1px solid #bfcbd4;
$footer-tile-title-border-bottom: 1px solid #bfcbd4;
$footer-tile-title-font-family: $font-family-sans-serif;
$footer-tile-title-font-weight: 700;
$footer-tile-title-font-size: 0.75em;
$footer-tile-title-line-height: 2em;
$footer-tile-title-color: #b1b1b1;
$footer-tile-list-link-color: #333333;
$footer-tile-list-link-font-family: $font-family-sans-serif;
$footer-tile-list-link-font-weight: 400;
$footer-tile-list-link-font-size: 0.75em;
$footer-tile-list-link-line-height: 1;

$footer-tile-dropdown-border: 2px solid #e3e3e3;
$footer-tile-dropdown-item-font-size: 1em;
$footer-tile-dropdown-item-link-color: #595959;
$footer-tile-dropdown-item-link-font-size: 0.75em;
$footer-tile-dropdown-list-title-font-family: $font-family-sans-serif;
$footer-tile-dropdown-list-title-font-weight: 700;
$footer-tile-dropdown-list-title-font-size: 1em;
$footer-tile-dropdown-list-title-line-height: 1;
$footer-tile-dropdown-list-color: #b1b1b1;
$footer-tile-dropdown-button-background-color: #fff;
$footer-tile-dropdown-button-font-family: $font-family-sans-serif;
$footer-tile-dropdown-button-font-weight: 300;
$footer-tile-dropdown-button-font-size: 1em;
$footer-tile-dropdown-button-line-height: 1.3;
$footer-tile-dropdown-button-color: #595959;
$footer-tile-dropdown-button-hover-color: #8f8f8f;
$footer-tile-dropdown-button-hover-background-color: #fff;

$footer-all-rights-color: #bfcbd4;
$footer-all-rights-font-family: $font-family-sans-serif;
$footer-all-rights-font-weight: 400;
$footer-all-rights-font-size: 0.75em;
$footer-all-rights-line-height: 1;
$footer-all-rights-first-child-border-right: 1px solid #d1dae0;
$footer-newsletter-border-top: 1px solid #bfcbd4;
$footer-newsletter-tile-title-color: #00c1d5;
$footer-newsletter-tile-title-font-family: $font-family-serif;
$footer-newsletter-tile-title-font-weight: 800;
$footer-newsletter-p-color: #999999;
$footer-newsletter-p-font-family: $font-family-sans-serif;
$footer-newsletter-p-font-weight: 400;
$footer-newsletter-p-font-size: 0.75em;
$footer-newsletter-p-line-height: 1.3;
$footer-newsletter-button-font-family: $font-family-sans-serif;
$footer-newsletter-button-font-weight: 700;
$footer-newsletter-button-font-size: 0.75em;
$footer-newsletter-button-line-height: 1;
$footer-newsletter-button-color: #fff;
$footer-newsletter-view-button-font-family: $font-family-sans-serif;
$footer-newsletter-view-button-font-weight: 700;
$footer-newsletter-view-button-font-size: 0.75em;
$footer-newsletter-view-button-line-height: 1;
$footer-newsletter-view-button-color: #00c1d5;
$footer-newsletter-view-button-background: #fff;
$footer-newsletter-view-button-border: 2px solid #00c1d5;

$footer-follow-us-border-top: 1px solid #bfcbd4;
$footer-follow-us-border-bottom: 1px solid #bfcbd4;

$footer-small-s-tile-title-font-size: 0.81em;
$footer-small-s-tile-list-font-size: 0.75em;
$footer-small-s-tile-dropdown-title-font-size: 0.75em;
$footer-small-s-tile-article-title-font-size: 1em;

$footer-small-tile-title-font-size: 0.93em;
$footer-small-tile-list-font-size: 0.87em;

$footer-small-x-tile-article-title-font-size: 1.5em;
$footer-small-x-tile-title-font-size: 1.125em;
$footer-small-x-tile-list-font-size: 1em;
$footer-small-x-all-rights-font-size: 0.81em;
$footer-small-x-tile-dropdown-title-font-size: 1em;
$footer-small-x-tile-dropdown-item-font-size: 0.87em;
$footer-small-x-tile-terms-font-size: 0.81em;

$footer-small-l-tile-title-font-size: 1.35em;
$footer-small-l-tile-list-font-size: 1.125em;
$footer-small-l-all-rights-font-size: 0.93em;
$footer-small-l-tile-terms-font-size: 0.93em;

$footer-small-xl-tile-title-font-size: 1.5em;
$footer-small-xl-tile-list-font-size: 1.25em;
$footer-small-xl-all-rights-font-size: 1em;
$footer-small-xl-tile-terms-font-size: 1em;

$footer-med-s-tile-title-font-size: 0.75em;
$footer-med-s-tile-list-font-size: 0.75em;
$footer-med-s-tile-dropdown-border: 2px solid #e3e3e3;
$footer-med-s-all-rights-font-size: 0.75em;
$footer-med-s-tile-dropdown-item-font-size: 0.85em;
$footer-med-s-newsletter-button-background: #b1b1b1;
$footer-med-s-newsletter-button-p-font-size: 0.75em;
$footer-med-s-container-border-bottom: 2px solid #d8dadb;
$footer-med-s-terms-font-size: 0.75em;
$footer-med-s-newsletter-title-font-size: 1.05em;

$footer-xlarge-x-newsletter-title-font-size: 0.85em;

$footer-xlarge-xm-tile-dropdown-item-font-size: 1em;
$footer-xlarge-xm-newsletter-title-font-size: 1.05em;

