
//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         #222 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($gray-light, 15%) !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;


//** Header
$main-nav-collapse-bg:	$brand-blue;
$main-nav-list-color:	#fff;
$second-level-menu-title-color: #000;
$second-level-menu-link-color: #818181;

$header-fixed-background-color: #fff;
$header-main-top-header-border-bottom: 1px solid #e7e7e7;		
$header-main-top-header-logo-border-right: 1px solid #e7e7e7;
$header-main-top-header-logo-width: 108px;
$header-main-top-header-logo-height: 34px;
$header-main-top-header-search-box-font-family: $font-family-sans-serif;
$header-main-top-header-search-box-font-weight: 200;
$header-main-top-header-search-box-font-size: 1.2em;
$header-main-top-header-search-box-line-height: 2.875em;
$header-main-top-header-search-box-font-style: italic;
$header-main-top-header-search-box-active-background-color: #45c3d3;
$header-main-top-header-search-box-before-border-left: 12px solid transparent;
$header-main-top-header-search-box-before-border-right: 12px solid transparent;
$header-main-top-header-search-box-before-border-bottom: 12px solid #00bfd7;
$header-main-top-header-search-box-input-search-background-color: #fff !important;
$header-main-top-header-search-box-auto-complete-option-background-color: #FFFFFF;
$header-main-top-header-search-box-auto-complete-option-list-font-family: $font-family-sans-serif;
$header-main-top-header-search-box-auto-complete-option-list-font-weight: 100;
$header-main-top-header-search-box-auto-complete-option-list-font-size: 0.9em;
$header-main-top-header-search-box-auto-complete-option-list-line-height: 1.3;
$header-main-top-header-search-box-go-btn-color: #fff;
$header-main-top-header-search-box-go-btn-background: #0896b4;
$header-main-top-header-search-box-go-btn-line-height: 45px;
$header-main-top-header-search-box-close-btn-before-content: "\00d7";
$header-main-top-header-search-box-close-btn-before-font-size: 2em;
$header-main-top-header-search-box-close-btn-before-color: #a9a9a9;
$header-main-top-header-navbar-header-border-right: 1px solid #e7e7e7;				
$header-main-top-header-navbar-toggle-border-radius: 0;											
$header-main-top-header-navbar-toggle-icon-bar-background-color: #000;
$header-main-top-header-navbar-toggle-icon-bar-border-radius: 2px;
$header-main-top-header-navbar-brand-color: #9f9f9f;
$header-main-top-header-navbar-brand-font-family: $font-family-sans-serif;
$header-main-top-header-navbar-brand-font-weight: 700;
$header-main-top-header-navbar-brand-font-size: 1em;
$header-main-top-header-navbar-brand-line-height: 35px;
$header-main-top-header-navbar-brand-font-style: italic;
$header-main-top-header-headerLink-font-family: $font-family-sans-serif;
$header-main-top-header-headerLink-font-weight: 400;
$header-main-top-header-headerLink-font-size: 0.75em;
$header-main-top-header-headerLink-line-height: 1.3;
$header-main-top-header-headerLink-color: #847c73;
$header-main-top-header-headerLink-link-color: #08aabf;
$header-main-top-header-headerLink-recall-color: #ef4123;
$header-main-navigation-font-family: $font-family-sans-serif;
$header-main-navigation-font-weight: 700;
$header-main-navigation-font-size: 1em;
$header-main-navigation-line-height: 1.3;
$header-main-navigation-navbar-default-background-color: #fff;
$header-main-navigation-navbar-default-toggle-hover-background-color: #fff;
$header-main-navigation-nav-collapse-background: $main-nav-collapse-bg;
$header-main-navigation-nav-collapse-main-nav-list-link-color: $main-nav-list-color;
$header-main-navigation-nav-collapse-main-nav-list-link-border-top: 2px solid #08aabf;
$header-main-navigation-second-level-menus-subMenus-background: #00acc1;
$header-main-navigation-second-level-menus-subMenus-list-background: #00acc1;
$header-main-navigation-second-level-menus-subMenus-list-title-color: #fff;
$header-main-navigation-second-level-menus-subMenus-list-title-after-color: #fff;
$header-main-navigation-second-level-menus-subMenus-list-active-title-background: #00bfd7;
$header-main-navigation-second-level-menus-subMenus-list-active-title-before-color: #fff;
$header-main-navigation-second-level-menus-subMenus-list-link-active-background: #00bfd7;
$header-main-navigation-second-level-menus-menu-block-link-color: #fff;
$header-main-navigation-second-level-menus-menu-block-link-after-color: #fff;					
$header-main-navigation-second-level-menus-view-all-color: #fff;
$header-main-navigation-second-level-menus-view-all-after-color: #fff;					
$header-main-navigation-second-level-menus-parenting-subMenus-background: #00acc1;
$header-main-navigation-second-level-menus-parenting-subMenus-birthday-icon-border-top: 2px solid #089aac;
$header-main-navigation-second-level-menus-parenting-subMenus-title-cat-color: #fff;
$header-main-navigation-second-level-menus-parenting-subMenus-title-cat-background: #00acc1;
$header-main-navigation-second-level-menus-parenting-subMenus-title-cat-after-color: #fff;
$header-main-navigation-second-level-menus-parenting-subMenus-title-cat-active-background: #00bfd7;
$header-main-navigation-second-level-menus-parenting-subMenus-title-cat-active-before-color: #fff;
$header-main-navigation-second-level-menus-parenting-subMenus-opened-background: #00bfd7;

$header-checkout-link-font-size: 1.175em;
$header-checkout-link-font-weight: bold;
$header-checkout-link-font-style: italic;
$header-checkout-link-mobile-line-height: 1.3;
$checkout-crumb-color: $gray;
$checkout-crumb-font-size: 1.125vw;
$checkout-crumb-font-weight: bold;
$checkout-crumb-background: $brand-blue;
$checkout-crumb-complete-color: white;
$checkout-crumb-complete-check-color: $brand-gold;
$checkout-crumb-incomplete-bg-color: $gray-lighter;
$checkout-crumb-current-color: $brand-orange;

$xlarge-x-header-main-top-header-logo-border-right: 1px solid #e7e7e7;
$xlarge-x-header-main-top-header-logo-divider-border-left:1px solid #e7e7e7;
$xlarge-x-header-main-top-header-search-background-color: #FFFFFF;
$xlarge-x-header-main-top-header-search-border-left: 1px solid #e7e7e7;

$xlarge-x-header-main-top-header-search-box-border-style: solid;
$xlarge-x-header-main-top-header-search-box-font-size: 16px;
$xlarge-x-header-main-top-header-search-box-border-width: 0 0 2px 0;
$xlarge-x-header-main-top-header-search-box-border-bottom-color: transparent;
$xlarge-x-header-main-top-header-search-box-color: #666666;
$xlarge-x-header-main-top-header-search-box-line-height: 1;	
$xlarge-x-header-main-top-header-search-box-font-family: $font-family-sans-serif;
$xlarge-x-header-main-top-header-search-box-font-weight: 200;
$xlarge-x-header-main-top-header-search-box-font-size: 0.91em;
$xlarge-x-header-main-top-header-search-box-line-height: 2.875;
$xlarge-x-header-main-top-header-search-box-font-style: italic;
$xlarge-x-header-main-top-header-search-box-background-color:#FFFFFF;
$xlarge-x-header-main-top-header-search-box-background: transparent;

$xlarge-x-header-main-top-header-search-box-active-font-family: $font-family-sans-serif;
$xlarge-x-header-main-top-header-search-box-active-font-weight: 200;
$xlarge-x-header-main-top-header-search-box-active-font-size: 0.91em;
$xlarge-x-header-main-top-header-search-box-active-line-height: 2.875;
$xlarge-x-header-main-top-header-search-box-active-font-style: italic;
$xlarge-x-header-main-top-header-search-box-active-background-color:#FFFFFF;

$xlarge-x-header-main-top-header-search-box-input-border-bottom-color: #e5e5e5;
$xlarge-x-header-main-top-header-search-box-input-border-top-color: transparent;
$xlarge-x-header-main-top-header-search-box-input-box-shadow: none;
$xlarge-x-header-main-top-header-search-box-input-background-color: transparent;
$xlarge-x-header-main-top-header-search-box-input-border-bottom: 1px solid #d9d9d9;

$xlarge-x-header-main-navigation-font-family: $font-family-sans-serif;
$xlarge-x-header-main-navigation-font-weight: 700;
$xlarge-x-header-main-navigation-font-size: 0.915em;
$xlarge-x-header-main-navigation-line-height: 1.3;
$xlarge-x-header-main-navigation-letter-spacing: 0.0375em;
$xlarge-x-header-main-navigation-background: #00bfd7;

$xlarge-x-header-main-navigation-navbar-nav-list-font-size: 0.915em;
$xlarge-x-header-main-navigation-navbar-nav-list-letter-spacing: normal;

$xlarge-x-header-main-navigation-list-hover-link-after-background: #fff;

$xlarge-x-header-main-navigation-list-second-level-menu-container-border-bottom: 4px solid #00bfd7;
$xlarge-x-header-main-navigation-list-second-level-menu-container-background-color: #fff;

$xlarge-x-header-main-navigation-list-second-level-menus-list-link-color: $second-level-menu-link-color;
$xlarge-x-header-main-navigation-list-second-level-menus-list-link-font-style: italic;
$xlarge-x-header-main-navigation-list-second-level-menus-list-link-font-weight: 700;
$xlarge-x-header-main-navigation-list-second-level-menus-list-link-hover-color: #0a8ee1;

$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-background: none;
$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list-background: none;
$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list-title-color: #000;
$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list-title-font-weight: bold;

$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list2-collapse-border-right:1px solid #e8e8e8;

$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list3-brand-everything-logo-color:#48d1ff;
$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list3-brand-everything-logo-font-family: $font-family-serif;
$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list3-brand-everything-logo-font-weight: 700;
$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list3-brand-everything-logo-font-size: 1.5em;
$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list3-brand-everything-logo-line-height: 1.3;
$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list3-brand-everything-logo-font-style: normal;
$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-list3-collapse-border-right:1px solid #e8e8e8;

$xlarge-x-header-main-navigation-list-second-level-menus-subMenus-view-all-icon-arrow-next-fill:#818181;

$xlarge-x-header-main-navigation-list-second-level-menus-menu-block-link-color: #818181;
$xlarge-x-header-main-navigation-list-second-level-menus-menu-block-link-hover-color: #0a8ee1;

$xlarge-x-header-main-navigation-list-second-level-menus-view-all-color: #818181;
$xlarge-x-header-main-navigation-list-second-level-menus-view-all-font-style: italic;
$xlarge-x-header-main-navigation-list-second-level-menus-view-all-hover-color:#0a8ee1;
$xlarge-x-header-main-navigation-list-second-level-menus-view-all-icon-arrow-next-fill:#818181;

$xlarge-x-header-main-navigation-list-second-level-menus-product-subMenus-list4-tile-bottom-background-color: #0a8ee1;
$xlarge-x-header-main-navigation-list-second-level-menus-product-subMenus-list4-link-color: #FFFFFF;
$xlarge-x-header-main-navigation-list-second-level-menus-product-subMenus-list4-link-font-family: $font-family-serif;
$xlarge-x-header-main-navigation-list-second-level-menus-product-subMenus-list4-link-font-weight: 700;
$xlarge-x-header-main-navigation-list-second-level-menus-product-subMenus-list4-link-font-size: 1.375em;
$xlarge-x-header-main-navigation-list-second-level-menus-product-subMenus-list4-link-line-height: 1.3;
$xlarge-x-header-main-navigation-list-second-level-menus-product-subMenus-list4-link-font-style: italic;

$xlarge-x-header-main-navigation-list-second-level-menus-playtime-subMenus-link-font-size: 0.93em;

$xlarge-x-header-main-navigation-list-second-level-menus-playtime-subMenus-list-border-top: 1px solid #d9e1e6;

$xlarge-x-header-main-navigation-list-second-level-menus-parenting-subMenus-birthday-bottom-background-color: #ef4123;
$xlarge-x-header-main-navigation-list-second-level-menus-parenting-subMenus-birthday-bottom-link-color: #FFFFFF;
$xlarge-x-header-main-navigation-list-second-level-menus-parenting-subMenus-birthday-bottom-link-font-family: $font-family-serif;
$xlarge-x-header-main-navigation-list-second-level-menus-parenting-subMenus-birthday-bottom-link-font-weight: 700;
$xlarge-x-header-main-navigation-list-second-level-menus-parenting-subMenus-birthday-bottom-link-font-size: 1.375em;
$xlarge-x-header-main-navigation-list-second-level-menus-parenting-subMenus-birthday-bottom-link-line-height: 1.3;
$xlarge-x-header-main-navigation-list-second-level-menus-parenting-subMenus-birthday-bottom-link-font-style: italic;

$xlarge-x-header-main-navigation-list-second-level-menus-parenting-subMenus-title-cat-color: #333;

$xlarge-x-header-main-navigation-list-second-level-menus-games-subMenus-text-transform: uppercase;
$xlarge-x-header-main-navigation-list-second-level-menus-games-subMenus-font-size: 0.87em;

$xlarge-x-header-main-navigation-list-second-level-menus-story-subMenus-story-info-h4-font-family: $font-family-serif;
$xlarge-x-header-main-navigation-list-second-level-menus-story-subMenus-story-info-h4-font-weight: 800;
$xlarge-x-header-main-navigation-list-second-level-menus-story-subMenus-story-info-h4-font-size: 1.25em;
$xlarge-x-header-main-navigation-list-second-level-menus-story-subMenus-story-info-h4-line-height: 1.3;

$xlarge-x-header-main-navigation-list-second-level-menus-story-subMenus-story-info-story-sub-text-font-family: $font-family-sans-serif;
$xlarge-x-header-main-navigation-list-second-level-menus-story-subMenus-story-info-story-sub-text-font-weight: 700;
$xlarge-x-header-main-navigation-list-second-level-menus-story-subMenus-story-info-story-sub-text-font-size: 0.875em;
$xlarge-x-header-main-navigation-list-second-level-menus-story-subMenus-story-info-story-sub-text-line-height: 1;
$xlarge-x-header-main-navigation-list-second-level-menus-story-subMenus-story-info-story-sub-text-font-style: italic;

$xlarge-x-header-main-navigation-store-background: #00acc1;
$xlarge-x-header-main-navigation-store-icon-arrow-next-fill: white;

$xlarge-xm-header-main-navigation-font-size: 0.915em;
$xlarge-xm-header-main-navigation-list-font-size: 1em;
$xlarge-xm-header-main-navigation-list-second-level-menus-story-subMenus-h4-font-size: 1.125em;
$xlarge-xm-header-main-navigation-list-second-level-menus-story-subMenus-story-info-sub-text-font-size: 0.75em;
$xlarge-xm-header-main-navigation-list-second-level-menus-store-background: $brand-tertiary;
