$widget-contact-border: 1px solid $legend-border-color;
$widget-contact-title-font-size: 1.75em;
$widget-contact-description-font-weight: normal;
$widget-contact-description-font-size: 0.8vw;
$widget-contact-description-color: $gray-light;
$widget-contact-description-font-family: $font-family-sans-serif;
$widget-contact-description-line-height: 1.4;
$widget-contact-cta-font-family: $font-family-sans-serif;
$widget-contact-1280-title-font-size: 1.8em;
$widget-contact-1280-description-font-size: 0.75em;
