$widget-notify-me-text-font-family: $font-family-sans-serif;
$widget-notify-me-text-color: $brand-blue;
$widget-notify-me-text-font-size: 0.9em;
$widget-notify-me-text-font-style: italic;
$widget-notify-me-text-font-weight: bold;
