$video-widget-product-gallery-owl-wrapper-background-color: #fff;
$video-widget-product-gallery-owl-item-img-outline: 2px solid #FFF;
$video-widget-product-gallery-thumb-owl-item-synced-img-border: 3px solid #0a8ee1;
$video-widget-product-gallery-thumb-tile-label-color: #0a8ee1;
$video-widget-product-gallery-thumb-tile-label-font-family: $font-family-sans-serif;
$video-widget-product-gallery-thumb-tile-label-font-weight: 800;
$video-widget-product-gallery-thumb-tile-label-font-size: 0.85em;
$video-widget-product-gallery-thumb-tile-label-line-height: 1.3;
$video-widget-product-gallery-thumb-play-icon-font-size: 2em;
$video-widget-product-gallery-thumb-play-icon-color: #FFF;
$video-widget-product-gallery-thumb-play-icon-glyphicon-play-circle-font-size: 7em;
$video-widget-product-gallery-thumb-play-icon-glyphicon-play-circle-background: url("../images/productdetail/thumb-play-icon.png") no-repeat;
$video-widget-product-gallery-thumb-play-icon-glyphicon-play-circle-font-size: 0;
$video-widget-product-gallery-thumb-modal-content-border-radius: 0;
$video-widget-product-gallery-thumb-modal-header-h4-font-size: 1.0em;
$video-widget-product-gallery-thumb-modal-header-h4-color: #00739d;
$video-widget-product-gallery-thumb-modal-close-font-size: 3em;
$video-widget-product-gallery-thumb-modal-close-line-height: 0.5;
$video-widget-product-gallery-thumb-modal-close-font-weight: 100;
$video-widget-product-gallery-thumb-modal-close-color: #0a8ee1;
$video-widget-other-retailer-brand-product-info-font-family: $font-family-sans-serif;
$video-widget-other-retailer-brand-product-info-font-weight: 400;
$video-widget-other-retailer-brand-product-info-font-size: 1em;
$video-widget-other-retailer-brand-product-info-line-height: 2;
$video-widget-other-retailer-brand-product-info-p-font-size: 0.9em;
$video-widget-other-retailer-brand-product-info-p-color: #595959;									
$video-widget-other-retailer-brand-product-info-p-font-weight: bold;
$video-widget-other-retailer-brand-product-info-p-line-height: 1.7;

$video-widget-xlarge-xm-product-thumb-gallery-tile-label-font-size: 0.83em;
$video-widget-med-s-product-thumb-gallery-owl-item-synced-img-border: 3px solid #0a8ee1;

$video-widget-small-s-other-retailer-p-font-size: 1em;
