$widget-warranty-border: 2px solid $brand-gold;
$widget-warranty-border-radius: 5px;
$widget-warranty-font-size: .9em;
$widget-warranty-font-weight: bold;
$widget-warranty-font-family: $font-family-sans-serif;
$widget-warranty-link-font-weight: bold;
