$leftnavcategory-widget-h5-color: $gray-dark;
$leftnavcategory-widget-h5-font-family: $font-family-sans-serif;
$leftnavcategory-widget-p-a-font-size: 0.8275em;
$leftnavcategory-widget-p-a-font-weight: bold;
$leftnavcategory-widget-ul-font-size: 0.895em;
$leftnavcategory-widget-ul-li-ul-padding: 2% 0 5% 5%;
$leftnavcategory-widget-ul-li-ul-line-height: 2.2em;						
$leftnavcategory-widget-ul-li-ul-li-item-a-span-span-color: $gray-dark;
$leftnavcategory-widget-ul-li-ul-li-item-a-span-span-padding: 0 0 0 1%;
