$where-to-buy-widget-link-font-family: $font-family-sans-serif;
$where-to-buy-widget-link-font-size: 1em;
$where-to-buy-widget-link-background: transparent;
$where-to-buy-widget-link-color: $brand-blue;
