
$exclusives-widget-background: $brand-gold;
$exclusives-widget-carousel-indicators-active-background-color: $brand-red;
$exclusives-widget-carousel-indicators-background-color: $gray;
$exclusives-widget-carousel-inner-background: white;
$exclusives-widget-carousel-inner-item-reviews-glyphicon-color: $brand-red;
$exclusives-widget-carousel-inner-item-reviews-abbr-color: $gray-dark;
$exclusives-widget-carousel-inner-item-price-color: $gray-dark;
$exclusives-widget-carousel-inner-item-price-font-size: 2.25em;
$exclusives-widget-carousel-inner-item-price-font-weight: bold;
$exclusives-widget-carousel-control-background: $brand-blue;
$exclusives-widget-carousel-control-color: white;
	
