
$my-order-background: white;
$my-order-progress-bar-border: solid 2px $pager-border;
$my-order-progress-bar-border-radius: 10px;
$my-order-progress-bar-background-color: #e7f5f7;
$my-order-progress-bar-status-background-color: #00bfd7;						
$my-order-progress-bar-status-background-image:  brand-image("free_shipping_progress_icon.png");
$my-order-header-background-color: $brand-orange;
$my-order-header-line-height: 70px;
$my-order-header-font-weight: bold;
$my-order-header-font-size: 27px;
$my-order-accordion-h2-color: $gray-dark;
$my-order-accordion-h2-background-color: $brand-orange;
$my-order-accordion-h2-line-height: 70px;
$my-order-accordion-h2-font-weight: bold;
$my-order-accordion-h2-font-size: 27px;
$my-order-accordion-link-hover-color: $gray-lighter;
$my-order-accordion-total-details-font-weight: bold;
$my-order-accordion-total-details-color: $gray-dark;
$my-order-accordion-total-details-font-size: 18px;
$my-order-accordion-total-details-line-height: 48px;
$my-order-accordion-total-details-color: $brand-red;
$my-order-accordion-total-figures-font-size: 21px;
$my-order-accordion-font-weight: bold;
$my-order-accordion-color: $gray; 
$my-order-accordion-hover-color: $gray;
$my-order-accordion-promo-border: 1px solid #B6B6B6;
$my-order-accordion-promo-label-font-size: 14px;
$my-order-accordion-promo-label-font-weight: normal;
$my-order-accordion-promo-input-border-radius: 3px;
$my-order-accordion-promo-input-border: 1px solid rgba(0, 0, 0, 0.23);
$my-order-shopcart-checkout-button-width: 75%;
$my-order-shopcart-checkout-button-max-width: 300px;

