$subcategories-widget-h2-font-family: $font-family-serif;
$subcategories-widget-h2-font-weight: 800;
$subcategories-widget-item-border: 3px solid white;
$subcategories-widget-item-border-radius: 5px;
$subcategories-widget-item-caption-background: $brand-blue;
$subcategories-widget-item-caption-color: white;
$subcategories-widget-item-caption-font-family: $font-family-serif;
$subcategories-widget-item-caption-font-size: 1.5em;
$subcategories-widget-item-caption-font-weight: 700;
$subcategories-widget-item-hover-border: 3px solid $brand-blue;
$subcategories-widget-item-hover-caption-background: $gray-lightest;
$subcategories-widget-item-hover-caption-color: $brand-blue;
