
$product-attributes-widget-title-font-weight: 900;
$product-attributes-widget-product-feature-li-font-family: $font-family-sans-serif;
$product-attributes-widget-product-feature-li-font-weight: 400;
$product-attributes-widget-product-feature-li-b-font-weight: 800;
$product-attributes-widget-product-feature-h2-font-family: $font-family-serif;
$product-attributes-widget-product-feature-h2-font-weight: 700;
$product-attributes-widget-product-feature-h2-border-bottom-color: #ebeded;
$product-attributes-widget-product-feature-h2-border-top-color: #ebeded;
$product-attributes-widget-product-feature-h2-font-size: 1.9em;
$product-attributes-widget-product-feature-h2-color: #595959;
$product-attributes-widget-product-feature-text-container-line-height: 1.5;
$product-attributes-widget-product-feature-text-container-color: #595959;
$product-attributes-widget-product-benefit-li-h4-color: #595959;
$product-attributes-widget-product-benefit-h2-font-weight: 700;
$product-attributes-widget-product-benefit-content-font-family: $font-family-sans-serif;
$product-attributes-widget-product-benefit-content-font-weight: 400;
$product-attributes-widget-product-benefit-content-font-size: 1em;
$product-attributes-widget-product-benefit-content-line-height: 2;
$product-attributes-widget-product-benefit-content-h4-font-size: 1em;
$product-attributes-widget-product-benefit-content-h4-font-weight: bold;
$product-attributes-widget-product-benefit-content-h4-p-line-height: 1.5;

$small-s-product-attributes-widget-font-size: 16px;
$small-s-product-attributes-widget-h2-font-size: 1.5em;

$small-product-attributes-widget-product-benefit-content-font-size: 1.125em;

$small-x-product-attributes-widget-product-benefit-content-font-size: 1.25em;

$small-l-product-attributes-widget-product-benefit-content-font-size: 1.5em;
$small-l-product-attributes-widget-h2-font-size: 2em;

$med-s-product-attributes-widget-h2-font-size: 1.5em;
$med-s-product-attributes-widget-product-benefit-content-line-height: 1.4em;
$med-s-product-attributes-widget-product-benefit-items-font-size: 14px;
$med-s-product-attributes-widget-product-benefit-items-h4-font-size: 1em;
$med-s-product-attributes-widget-product-benefit-content-font-size: 1.3em;
$med-s-product-attributes-widget-product-benefit-content-p-line-height: 1.7;

$xlarge-x-product-attributes-widget-font-size: 14px;
$xlarge-x-product-attributes-widget-title-font-weight: 900;
$xlarge-x-product-attributes-widget-product-benefit-items-p-font-size: 0.9em;

$xlarge-xm-product-attributes-widget-font-size: 15px;
$xlarge-xm-product-attributes-widget-product-benefit-content-items-font-size: 13px;
