$account-my-account-main-header-background: transparent;

$account-my-account-header-background: transparent;
$account-my-account-header-font-size: 2em;
$account-my-account-header-color: $brand-tertiary;
$account-my-account-header-font-family: $font-family-serif;
$account-my-account-header-letter-spacing: -0.7px;
$account-my-account-header-font-weight: 800;

$account-my-account-content-header-height: 1px;
$account-my-account-content-header-background: $input-border;
