$account-summary-page: 0;
$account-summary-page-myaccount-header-mobile-font-size: 1.5rem; 
$account-summary-page-myaccount-section-header-border: 1px solid $pager-border;
$account-summary-page-myAccount-desc-userName-and-tip-border-color: $pager-border;
$account-summary-page-myAccount-desc-userName-and-tip-border: 1px solid $account-summary-page-myAccount-desc-userName-and-tip-border-color;
$account-summary-page-myAccount-desc-title-font-color:  $brand-light-blue;
$account-summary-page-myAccount-desc-title-font-size: 1.3rem;
$account-summary-page-myAccount-desc-title-mobile-font-size: 1.1rem;
$account-summary-page-myAccount-desc-title-font-family: $font-family-sans-serif;
$account-summary-page-myAccount-desc-title-font-weight: $font-weight-600;
$account-summary-page-myAccount-desc-title-border-color: #08c1d5;
$account-summary-page-myAccount-desc-title-border: 5px solid $account-summary-page-myAccount-desc-title-border-color;
$account-summary-page-myaccount-desc-border-color: $gray-lighter;
$account-summary-page-myaccount-desc-border: 1px solid $account-summary-page-myaccount-desc-border-color;

$account-summary-page-myaccount-section-header-background: transparent;
$account-summary-page-recent-orderHistory-heading-header-font-size: 1rem;
$account-summary-page-recent-orderHistory-heading-header-font-color: $account-summary-page-myAccount-desc-title-font-color;
$account-summary-page-myaccount-link-viewAll-font-weight: 600;
$account-summary-page-myaccount-link-viewAll-font-size: 0.8rem;

$account-summary-page-order-status-table-heading-background: $gray-lightest;
$account-summary-page-order-status-table-heading-color: $gray-light;
$account-summary-page-order-status-table-heading-font-weight: 600;
$account-summary-page-order-status-table-heading-font-size: 0.85rem;
$account-summary-page-order-status-table-border-bottom: 1px solid $input-border;
$account-summary-page-order-status-table-font-size: 0.85rem;
$account-summary-page-order-status-table-total-price-font-weight: 600;
$account-summary-page-order-status-table-view-details-font-weight: 600;
$account-summary-page-order-status-table-label-bg-for-mobile: $gray-lightest;