$address-book-page: 0;
$address-book-page-select-border-width: 2px;
$address-book-page-select-text-font-size: 1rem;
$address-book-page-address-edit-delete-buttons-font-size: 0.75rem;
$address-book-page-shipping-method-label-font-weight: normal;
$address-book-page-address-and-shippingMethod-container-border: 1px solid $input-border;
