$forgot-password-h2-font-weight: 700;
$forgot-password-label-font-size: 1.1em;
$forgot-password-input-border: 2px solid #b1b1b1;
$forgot-password-input-font-size: 1.25em;
$forgot-password-input-color: $gray-dark;
$forgot-password-align-font-size: 1.1em;
$forgot-password-align-line-height: 1.6;
