$order-details-page-order-details-content-border: 1px solid $input-border;
$order-details-page-myAccount-header-bg: transparent;
$order-details-page-myAccount-header-border-bottom: 1px solid $input-border;
$order-details-page-myAccount-header-font-size: $font-size-h3;
$order-details-page-myAccount-header-color: $brand-blue;
$order-details-page-myAccount-header-back-button-font-color: $brand-tertiary;
$order-details-page-myAccount-header-back-button-font-weight: $font-weight-600;
$order-details-page-myAccount-header-back-button-font-style: italic;

$order-details-page-orderInfo-border-bottom: 1px solid $input-border;

$order-details-page-orderedItems-item-border: 1px solid $input-border;
$order-details-page-orderedItems-col-header-bg: $gray-lightest;
$order-details-page-orderedItems-col-heading-color: $gray-light;
$order-details-page-orderedItems-col-heading-font-weight: $font-weight-600;
$order-details-page-orderedItems-col-heading-font-size: 0.85rem;
$order-details-page-orderedItems-col-tackingLink-font-weight: $font-weight-600;
$order-details-page-orderedItems-col-tackingLink-font-size: 0.9rem;
$order-details-page-orderedItems-productImage-border: 1px solid $input-border;
$order-details-page-orderedItems-productDetails-wrapper-font-size: 0.85rem;
$order-details-page-orderedItems-productDetails-wrapper-product-font-weight: $font-weight-600;
$order-details-page-orderedItems-productDetails-wrapper-product-total-cost-font-weight: $font-weight-600;
$order-details-page-orderedItems-prodectDetails-label-bg-for-mobile: $gray-lightest;
$order-details-page-orderedItems-prodectDetails-label-for-mobile-font-weight: $font-weight-600;

$order-details-page-orderSummary-border: 1px solid $input-border;
$order-details-page-orderSummary-shippingTax-border: 1px solid $input-border;


$order-details-page-priceSummary-dt-font-weight: normal;
$order-details-page-priceSummary-dt-orderTotal-font-weight: $font-weight-600;
$order-details-page-priceSummary-dd-orderTotal-font-weight: $font-weight-600;

$order-details-page-shipping-information-border-bottom: 1px solid $input-border;
$order-details-page-shipping-information-wrapper-dd-font-size: 0.9rem;
$order-details-page-shipping-information-heading-font-size: $font-size-h4;
$order-details-page-shipping-information-heading-font-family: $headings-font-family;
$order-details-page-shipping-information-heading-font-color: $brand-blue;

$order-details-page-billing-information-border-bottom: 1px solid $input-border;
$order-details-page-billing-information-wrapper-dd-font-size: 0.9rem;