$order-history-page-heading-font-size: $font-size-h3;
$order-history-page-heading-border-bottom: 1px solid $input-border;
$order-history-page-heading-color: $brand-blue;
$order-history-page-content-left-border: 1px solid $input-border;

$order-history-page-filter-label-font-weight: $font-weight-600;
$order-history-page-filter-label-font-family: $font-family-serif;
$order-history-page-filter-label-font-size: 0.85rem;
$order-history-page-filter-wrapper-border-bottom: 1px solid $input-border;

$order-history-page-search-input-border: 2px solid $input-border;
$order-history-page-search-input-border-radius: 20px;

$order-history-page-search-icon-background: $brand-blue;
$order-history-page-search-icon-color: $default-white;
$order-history-page-search-icon-border-radius: 20px;

$order-history-page-order-status-table-heading-background: $gray-lightest;
$order-history-page-order-status-table-heading-color: $gray-light;
$order-history-page-order-status-table-heading-font-weight: 600;
$order-history-page-order-status-table-heading-font-size: 0.85rem;

$order-history-page-order-status-table-border-bottom: 1px solid $input-border;
$order-history-page-order-status-table-font-size: 0.85rem;
$order-history-page-order-status-table-total-price-font-weight: $font-weight-600;
$order-history-page-order-status-table-view-details-font-weight: $font-weight-600;
$order-history-page-order-status-table-label-bg-for-mobile: $gray-lightest;
