$personal-information-page-h4-letter-spacing: -0.5px;
$personal-information-page-h4-line-height: 1.6;

$personal-information-page-personalInfoEdit-font-size: 0.85em;
$personal-information-page-birthday-label-font-weight: bold;
$personal-information-page-birthday-label-link-font-weight: normal;

$personal-information-page-select-border-width: 2px;
$personal-information-page-select-text-font-size: 1rem;

$personal-information-page-label-font-weight: normal;

$personal-information-page-birthday-gift-text-wrapper-line-height: 28px;
$personal-information-page-birthday-gift-text-wrapper-med-screens-line-height: 16px;
$personal-information-page-gift-icon-font-size: 1.5rem;
$personal-information-page-gift-icon-med-screens-font-size: 2rem;
$personal-information-page-gift-icon-color: $brand-primary;
$personal-information-page-birthday-label-font-style: italic;

$personal-information-page-add-or-remove-child-link-font-size: 1.25rem;
$personal-information-page-add-or-remove-child-link-font-weight: bold;