
//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-family: 				$font-family-sans-serif !default;
$btn-font-weight:               700 !default;
$btn-font-size: 				100% !default;
$btn-line-height:				1.5em !default;

$btn-padding:					0.6em !default;
$btn-text-transform: 			uppercase !default;

$btn-large-font-size: 			23px;
$btn-large-padding: 			15px;

$btn-small-font-size: 			12px;
$btn-small-padding: 			3px;

$btn-default-color:             #333 !default;
$btn-default-bg:                #fff !default;
$btn-default-border:            #ccc !default;

$btn-primary-color:             #fff !default;
$btn-primary-bg:                $brand-red !default;
$btn-primary-border:            2px solid $btn-primary-bg;
$btn-primary-hover-bg:			$btn-primary-bg;

$btn-secondary-color:           #fff !default;
$btn-secondary-bg:              $brand-red !default;
$btn-secondary-border:          2px solid #fff;
$btn-secondary-hover-bg:		$btn-secondary-bg;

$btn-tertiary-color: 			$brand-blue !default;
$btn-tertiary-bg:               #fff !default;
$btn-tertiary-border:           2px solid $brand-blue;
$btn-tertiary-hover-bg:			$btn-tertiary-bg;

$btn-transparent-color: 		white !default;
$btn-transparent-bg:            transparent !default;
$btn-transparent-border: 		2px solid white;
$btn-transparent-hover-border: 	2px solid white;
$btn-transparent-hover-bg:		transparent;

$btn-white-color: 				$brand-blue !default;
$btn-white-bg:            		white !default;
$btn-white-border: 				2px solid lightgray;
$btn-white-hover-border: 		2px solid lightgray;
$btn-white-hover-bg:			white;

$btn-outlined-color: 			$brand-blue !default;
$btn-outlined-bg:               #fff !default;
$btn-outlined-border: 			2px solid $gray-lighter;
$btn-outlined-hover-border: 	2px solid $gray-lighter;
$btn-outlined-hover-bg:			$btn-outlined-bg;

$btn-link-disabled-color:       $gray-light !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:         	30px !default;
$btn-border-radius-base:        $border-radius-base !default;
$btn-border-radius-large:       $border-radius-large !default;
$btn-border-radius-small:       $border-radius-small !default;

