

//== Carousel
//
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;

$carousel-bg-color: $gray-lightest;
$carousel-h2-bg-color: $gray-lightest;
$carousel-h2-color: $gray;
$carousel-h2-font-family: $font-family-sans-serif;
$carousel-h2-font-size: 1.4em;
$carousel-button-bg-color: $brand-blue;
$carousel-product-border-color: $gray-lighter;
$carousel-product-bg-color: white;
$carousel-product-star-font-size: 0.9em;
$carousel-product-star-letter-spacing: 0.07em;
$carousel-product-star-color: $gray-lighter;
$carousel-product-star-full-color: $brand-red;
$carousel-product-price-color: $brand-red;
$carousel-product-price-font-family: $font-family-sans-serif;
$carousel-product-price-font-size: 1.3em;
$carousel-product-name-link-color: $brand-blue;
$carousel-product-name-link-font-weight: 600;
$carousel-product-name-link-font-size: 1em;
$carousel-product-name-link-font-family: $font-family-sans-serif;
$carousel-product-name-link-letter-spacing: 0.4px;
$carousel-product-name-link-line-height: 1.2;
$carousel-coordinate-title-bg-color: $gray-lightest;
$carousel-coordinate-title-color: $gray;
$carousel-coordinate-title-border-radius: 0;
$carousel-coordinate-title-font-family: $font-family-sans-serif;
$carousel-coordinate-title-font-size: 1.4em;
