
//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$default-white:			#fff !default;

$gray-base:             #000 !default;
$gray-darker:           lighten($gray-base, 13.5%) !default; // #222
$gray-dark:             lighten($gray-base, 20%) !default;   // #333
$gray:                  lighten($gray-base, 33.5%) !default; // #555
$gray-light:            lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:			#b1b1b1 !default;
$gray-lightest:         #e8eef3 !default;

$brand-primary:         #e23011 !default;
$brand-secondary:       #e23011 !default;
$brand-tertiary: 		#0078c8 !default;

$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$brand-yellow:          yellow !default;
$brand-orange:			#ffd200 !default;
$brand-gold:			#e6c914 !default;
$brand-red:             $brand-primary !default;
$brand-blue:            $brand-tertiary !default;
$brand-light-blue: 		#006ECC !default;
$brand-green:			green !default;

