
//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.

// [converter] If $bootstrap-sass-asset-helper if used, provide path relative to the assets load path.
// [converter] This is because some asset helpers, such as Sprockets, do not work with file-relative paths.
$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../../fonts/") !default;

//** File name for all font files.
$icon-font-name:          "glyphicons-halflings-regular" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id:        "glyphicons_halflingsregular" !default;

//** Custom Glyphs

@font-face {
    font-family: 'icons';
    src:    url('../../fonts/icons.eot?iriee6');
    src:    url('../../fonts/icons.eot?iriee6#iefix') format('embedded-opentype'),
        url('../../fonts/icons.ttf?iriee6') format('truetype'),
        url('../../fonts/icons.woff?iriee6') format('woff'),
        url('../../fonts/icons.svg?iriee6#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Custom Icon Font Glyph Assignments */

.icon-checkbox-checked:before {
    content: "\e904";
    cursor: pointer;
}

.icon-checkbox:before {
    content: "\e905";
    cursor: pointer;
}

.icon-radio-checked:before {
    content: "\e906";
}

.icon-radio:before {
    content: "\e907";
}

.icon-ribbon-tag:before {
    content: "\e90d";
}

.icon-ribbon-starburst:before {
    content: "\e90c";
}

.icon-ribbon-heart:before {
    content: "\e90b";
}

.icon-ribbon-gift:before {
    content: "\e90a";
}

.icon-ribbon-bow:before {
    content: "\e909";
}

.icon-glyph-arrow:before {
    content: "\e908";
}

.icon-ribbon-ending:before {
    content: "\e90e";
}

/* -------------------------------------- */

input[type="radio"],            /* hiding the default checkbox and radio button */
input[type="checkbox"] {
  display:none;
}

input[type="radio"] + span:before,  /* Styling and positioning */
input[type="checkbox"] + span:before {
  position: relative;
  top: 2px;
  display: inline-block;
  font-family: 'icons';  /* Adding icon font */
  font-weight: 400;
  line-height: 1;
  font-size: 1.30rem;
  cursor: pointer;
}
input[type="radio"] + span:before {
  content: "\e907";    /* glyphicon record */
  color: #b1b1b1;
  margin-right: 5px;
  cursor: pointer;
}

input[type="radio"]:checked + span:before {
  content: "\e906";    /* glyphicon ok-circle */
  color: #0a8ee1;
  cursor: pointer;
}


input[type="checkbox"] + span:before {
  content: "\e905";   /* glyphicon unchecked */
  color: #b1b1b1;
  margin-right: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked + span:before {
  content: "\e904";   /* glyphicon checked */
  color: #2196F3;
  cursor: pointer;
}

//star rating

span.glyphicon-star {
  font-family: 'icons';
  &:before {
    content: "\e902";
  }
}