
//== Pagination
//
//##

$pagination-color:                     $link-color !default;
$pagination-bg:                        $gray-lightest !default;
$pagination-border:                    #ddd !default;
$pagination-arrow-color:               $brand-blue !default;
$pagination-font-size:                 0.9rem;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $gray-lighter !default;
$pagination-hover-border:              1px solid #ddd !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $brand-blue !default;
$pagination-active-border:       	   1px solid $brand-blue !default;


$pagination-disabled-color:            $brand-blue !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           1px solid #ddd !default;


//== Pager
//
//##

$pager-bg:                             $pagination-bg !default;
$pager-border:                         $pagination-border !default;
$pager-border-radius:                  15px !default;

$pager-hover-bg:                       $pagination-hover-bg !default;

$pager-active-bg:                      $pagination-active-bg !default;
$pager-active-color:                   $pagination-active-color !default;

$pager-disabled-color:                 $pagination-disabled-color !default;

