
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

/*----------------------------------------------------------
//                font & font variables
//  --------------------------------------------------------*/
@import "//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic";

$font-family-sans-serif:  'Noto Sans', sans-serif !default;
$font-family-serif:       'Archer SSm A', 'Archer SSm B', serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.14)) !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default;

$font-size-h1:            ceil(($font-size-base * 2.5)) !default;
$font-size-h2:            ceil(($font-size-base * 1.85)) !default;
$font-size-h3:            ceil(($font-size-base * 1.7)) !default;
$font-size-h4:            ceil(($font-size-base * 1.25)) !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default;

$font-weight-100:         100 !default;
$font-weight-200:         (2*$font-weight-100) !default;
$font-weight-300:         (3*$font-weight-100) !default;
$font-weight-400:         (4*$font-weight-100) !default;
$font-weight-500:         (5*$font-weight-100) !default;
$font-weight-600:         (6*$font-weight-100) !default;
$font-weight-700:         (7*$font-weight-100) !default;
$font-weight-800:         (8*$font-weight-100) !default;
$font-weight-900:         (9*$font-weight-100) !default;
$font-weight-bold:         bold !default;
$font-weight-bolder:       bolder !default;
$font-weight-lighter:      lighter !default;
$font-weight-normal:       normal !default;

//Responsive Typography
//----------------------------------------------------------
$h1-font-sizes: (
  null  : (1.75rem, 1.3em),
  small-l : 1.875rem,
  tablet : 2rem,
  desktop: (2.5rem, 2em)
);

$h2-font-sizes: (
  null  : (1.5rem, 1.3em),
  small-l : 1.652rem,
  tablet : 1.75rem,
  desktop: (1.875rem, 2em)
);

$h3-font-sizes: (
  null  : (1.25rem, 1.3rem),
  small-l : (1.375rem, 1.13636364rem),
  tablet : (1.5rem, 1.25rem),
  desktop: (1.75rem, 1.25rem)
);

$h4-font-sizes: (
  null  : (1.125rem, 1.2222rem),
  small-l : (1.125rem, 1.111rem),
  tablet : (1.25rem, 1.22222rem),
  desktop: (1.25rem, 1.222rem)
);

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default;

//** By default, this inherits from the `<body>`.
$headings-font-family:    'Archer SSm 8r', 'Archer SSm A', 'Archer SSm B' !default;
$headings-font-weight:    800 !default;
$headings-line-height:    2em !default;
$headings-color:          $brand-tertiary !default;
